/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #ff6347; /* Оранжевый цвет для режима Pomodoro */
  font-family: 'Roboto', sans-serif; /* Пример подключения шрифта 'Roboto' */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.timer-container {
  max-width: 620px;
  width: 100%;
  text-align: center;
  background-color: white; /* Фон для блока таймера */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timer {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ff6347; /* Оранжевый цвет для таймера */
}

.buttons button {
  padding: 8px 12px;
  font-size: 13px;
  border: none;
  background: none rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  opacity: .9;
}

.buttons button:hover {
  background: none rgba(255, 255, 255, 0.3);
}
